$navigationBackgroundColor: #252831;
$hoverFocusColor: #3397db;
$siteFooterBackgroundColor: #444;
$siteFooterPrimaryTextColor: #DEDEDE;
$mainContentBackgroundColor: #f3f3f3;
$anchorButtonColor: orange;
