.favorite-icon {
  font-size: 20px;
  cursor: hand;
  color: $notFavoriteIconColor;
}

.favorite {
  color: $favoriteIconColor;
}

.network-indicator {
  display: none;
  background: yellowgreen;
  width: 100%;
}

.offline {
  display: block;
}